.pr-items {
    margin: 80px 0px 140px 0px;
}
.pr-items .wrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 50px;
}
.pr-item__date {
    font-size: 14px;
    color: rgb(161, 161, 161);
    font-weight: 400;
    margin: 6px 0px;
}
.pr-item__title {
    font-size: 19px;
    font-weight: 500;
}
.pr-item img{
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: var(--border-radius);
}
.pr-item svg{
    opacity: 0;
}
.pr-item:hover svg{
    opacity: 1;
    transition: all 0.3s ease-in-out;
}
/*--------- 서브페이지 --------*/
.coverage .pr-items .wrap, .news .pr-items .wrap, .contribution .pr-items .wrap{
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
}
.coverage img, .news img, .contribution img{
    height: 240px;
}

.category{
    margin-top: 60px;
    display: flex;
    width: 100%;
}
.category a{
    border: 1px rgb(205, 205, 205) solid;
    border-radius: var(--border-radius);
    padding: 12px 24px;
    margin-right: 10px;
    font-size: 16px;
}
.category a.active{
    background-color: var(--main-color);
    color: white;
    border:none;
}
.coverage .pr-item:hover .pr-item__title,
.news .pr-item:hover .pr-item__title,
.contribution .pr-item:hover .pr-item__title
 {
    text-decoration: underline;
}